$font-poppins: "Poppins", "san serif";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffa500;
}

@mixin padding {
  margin: 10px;
  padding: 20px;
  border-radius: 40px;
  background: linear-gradient(145deg, #e69500, #ffb100);
  box-shadow: 20px 20px 60px #d98c00, -20px -20px 60px #ffbe00;
}

@mixin project {
  border-radius: 30px;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffb100, #e69500);
  box-shadow: 20px 20px 60px #d98c00, -20px -20px 60px #ffbe00;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  justify-content: end;
  display: none;
  a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }
}

.menu {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  margin: 16px;
  align-items: center;

  .bar {
    display: block;
    height: 8px;
    margin-top: 4px;
    background-color: black;
  }
}

.top {
  @include padding();
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  .greeting {
    font-family: $font-poppins;
    font-size: 1.4rem;
    font-weight: 600;
    color: #003949;
  }

  p {
    font-family: $font-poppins;
    font-size: 0.7rem;
    margin-top: 10px;
    color: #003949;
  }
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px;
  padding: 20px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  opacity: 0;
}

.profile {
  width: 50%;
  align-self: center;
  border-radius: 100%;
}

.info {
  font-family: $font-poppins;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 500;
  color: #003949;
}

.projects {
  @include padding();
  .work {
    @include project();
    height: 240px;
    margin: 10px 0;
  }
}

@mixin inputs {
  border-radius: 50px;
  background: #ffa500;
  box-shadow: inset 20px 20px 60px #d98c00, inset -20px -20px 60px #ffbe00;
}

.contact-email {
  @include padding();

  .emailMe {
    font-family: $font-poppins;
    text-align: center;
    margin: 10px 0;
    z-index: 2;
  }

  input {
    @include inputs();
    z-index: 1;
    border: none;
    width: 100%;
    height: 40px;
    text-indent: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  #content {
    @include inputs();
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    text-indent: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    resize: none;
  }

  input::placeholder,
  #content::placeholder {
    font-family: $font-poppins;
    color: black;
    font-weight: 500;
  }

  input:focus,
  #content:focus {
    outline: none;
    border: 2px solid rgb(61, 50, 0);
  }
}
